.container {
   width: 100%;
   height: 100%;

   .cropArea {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

     overflow: hidden;

     border: none;

     box-shadow: 0 0 0 9999px var(--dark-300);
   }

   & .media {
     display: block;
     width: 100%;
     height: 100%;
   }
 }
.active {
  color: var(--primary-500);
}

.content {
  pointer-events: auto;

  z-index: 888;

  height: fit-content;
  padding: 10px 12px;
  border: 1px solid var(--primary-500);
  border-radius: 2px;

  opacity: 0.8;
  background-color: var(--dark-500);
}

.btn {
  cursor: pointer;

  width: 36px;
  height: 36px;
  border: none;
  border-radius: 2px;

  opacity: 0.8;
  background-color: var(--dark-500);
}

