.card {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;

  width: max(378px, 30vw);
  height: fit-content;
  padding: 24px;
}

.title {
  margin: 23px auto 13px;
  text-align: center;
}

.boxInputs {
  width: 100%;
}

.input {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.signIn {
  margin-top: 12px;
  margin-bottom: 18px;
}
