.sidebar {
  overflow-y: auto;

  width: max(220px, 20%);
  height: 100lvh;
  border-right: 1px solid var(--dark-300);

  background-color: var(--dark-700);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 72px 0;
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottomItem {
  margin-top: auto;
  padding-top: 20px;
}

@media (width <= 768px) {
  .container {
    display: none;
  }
}
