.container {
  display: flex;
  flex-direction: column;
  padding-right: 36px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.autoUpdate {
  align-self: end;
}

.searchInput {
}
