.container {
  display: flex;
  flex-direction: column;
  padding-right: 36px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.autoUpdate {
  align-self: end;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.pagination {
  margin-top: 36px;
}
