.header {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 24px;
  color:var(--light-100);
  gap: 8px;
}

.container {
  display: flex;
  flex-direction: column;
}

.searchInput {
  width: 100%;
  max-width: 644px;
  color: var(--light-900);
}

.selector {
  max-width: 234px;
}

.pagination {
  margin-top: 36px;
}
