.flexContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.idWithoutIcon {
  margin-left: 36px;
}

.tableHeaderCell {
  display: flex;
  gap: 6px;
  align-items: center;
}
.selectBox {
  margin: 18px 0 114px;
  align-items: center;
}
