.container {
  width: 100%;
  max-width: 972px;
  margin: 0 auto;
}

.registeredUsersContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 72px;
  margin-bottom: 36px;
  padding: 0 24px;
}

.postsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}
