.tableHeaderCell {
  display: flex;
  align-items: center;
  gap: 6px;
}

.link{
  color: var(--light-100);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.noText {
  text-align: center;
  padding: 20px;
}