.tableHeaderCell {
  display: flex;
  gap: 6px;
  align-items: center;
}

.link {
  color: var(--light-100);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.noText {
  padding: 20px;
  text-align: center;
}
